h1
{
    text-align:center;
}
h3
{

    color:black;
    font-size:1.5em;
    padding-left: 10px;
}

h4
{
    background-color: #2a3554;
    color:gray();
    font-size:1.5em;
    margin-bottom:5px;
    padding-left: 10px;
    text-align: center;

}

.admin

{


    background-color: midnightblue;
    color: white;

    margin: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
font-size: 1.5em;
    padding-left: 10px;

}
.admin a
{
    color: white;
}

.news

{


    background-color: lightgray;
    color: black;

    margin: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    padding-left: 10px;

}

.news a
{

    color:midnightblue;
}

.news h2
{
    color: midnightblue;

}




.comments
{
    padding: 5px;
    margin: 10px auto 40px;
    width: 70%;

    background-color: whitesmoke;


}





#header {

    background-color: grey;
    background-image: url("../img/alaska02.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    color: white;

    height: 300px;
    width: 100%;

}

#footer {

    background-color: black;
    color: white;

    height: 30px;
    width: 100%;
    padding-top: 10px;
    text-align: center;


}

/* Titre */

.menuTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menuTitle h1 {
    padding: 5px 20px 5px 20px;
    margin: 0;
    color: white;
    background-color: black;
}

.menuTitle p {
    margin: 0;
    padding: 0 10px 10px 10px;
    background-color: grey;
}
.menu {
    margin: 10;
    padding: 0 20px 20px 30px;
    background-color: darkviolet;
    height: 20px;

}

.menu a
{
    text-decoration: underline;
    color: white;
}
