h1
{
    text-align:center;
}
h3
{

    color:#016b78;
    font-size:1.5em;
    padding-left: 10px;
}

h4
{
    background-color: #2a3554;
    color:gray();
    font-size:1.5em;
    margin-bottom:5px;
    padding-left: 10px;
    text-align: center;

}

.admin

{


    background-color: midnightblue;
    color: white;

    margin: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
font-size: 1.5em;
    padding-left: 10px;

}
.admin a
{
    color: white;
}


.main {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    min-height: 470px;
    justify-content: center;
    background-color: #f5e8d7;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 70%;
}

.news

{


    background-color: #dbfaf7;
    color: black;

    margin: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    padding-left: 10px;

}

.news a
{

    color: #ff6f25;
}

.news h2
{
    color: #016b78;

}




.comments
{
    padding: 5px;
    margin: 10px auto 40px;
    width: 70%;

    background-color: whitesmoke;


}





#header {

    background-color: #016b78;
    background-image: url("../img/alaska02.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300px;
    color: white;

    height: 350px;
    width: 100%;

}

#footer {

    background-color: #016b78;
    color: white;

    height: 60px;
    width: 100%;
    padding-top: 10px;
    text-align: center;


}

/* Titre */

.menuTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menuTitle h1 {
    padding: 5px 20px 5px 20px;
    margin: 0;
    color: white;
    background-color: black;
}

.menuTitle p {
    margin: 0;
    padding: 0 10px 10px 10px;
    background-color: grey;
}
.menu {
    margin: 10;
    padding: 0 20px 20px 30px;
    background-color: darkviolet;
    height: 20px;

}

.menuAside a
{
    text-decoration: underline;
    color: #2a3554;
}


.menuAside {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 20px;
    border: 3px solid black;
    background-color: #d2f7ff;
    border-radius: 10px;
    color: #ff6f25;
    width: 30%;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 111, 37);
    color: rgb(42, 53, 84);
    border: 0;
    cursor: pointer;
}




button:hover {
    color: white;
}

form {
   text-align: center;
    width: 320px;
padding: 5px;
    border: 1px solid #ff6f25;
    background-color: whitesmoke;
    border-radius: 10px;
    color: #2a3554;
    width: 30%;
}